{% extends "base.html" %}

{% block title %}Timeline{% endblock %}

{% block head %}
<style>
  .heart-red {
    color: red !important;
  }

  .like {
    text-decoration: none;
    color: #000000;
  }

  /* .like:active {
    color: #000000;
  }

  .like:focus {
    outline: none;
  } */
</style>
{% endblock %}

{% block nav_content %}
<div class="d-flex">
  <span class="username text-right me-5 d-flex align-items-center">{{ user_name }}</span>
  <form>
    <button type="submit" formmethod="post" formaction="logout" class="btn btn-danger px-4">LogOut</button>
  </form>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="my-5">
    <form>
      <textarea class="form-control" id="post-form" rows="5" name="message_text"></textarea>
      <button type="submit" formmethod="post" formaction="post"
        class="btn btn-primary px-4 mt-2 float-end">Post</button>
    </form>
  </div>
  {% for one_message in messages %}
  <div class="card w-100" style="width: 18rem;">
    <div class="card-body" id="{{one_message.message_id}}">
      <h5 class="card-title">{{one_message.user_name}}</h5>
      <p class="card-text">{{one_message.message_text}}</p>
      <p class="card-text text-end">
      <div class="d-flex">
        {% if one_message.is_like == 1 %}
        <a href="javascript:like_delete('{{one_message.message_id}}');" class="like">
          <span class="heart-red">
            ♥
          </span>
        </a>
        {% else %}
        <form action="like" name="like_{{loop.index}}" method="post">
          <input type="hidden" name="message_id" value="{{one_message.message_id}}">
          <a href="javascript:like_{{loop.index}}.submit();" class="like">
            ♡
          </a>
        </form>
        {% endif %}
        <span>{{one_message.likes}}</span>
      </div>
      </p>
      <p class="card-text">{{one_message.created_at.format("%Y/%m/%d %H:%M:%S")}}</p>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  const like_delete = (message_id) => {
    fetch("like", {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        message_id
      })
    })
      .then((res) => {
        location.href = res.headers.get("location")
      })
      .catch(e => {
        alert("fetch error");
        console.error(e);
      })
  }
</script>
{% endblock %}
